/*Query pour phones et tablets*/
@media screen (max-width: 992px){
  .topheader {
    display: flex;
    /*position: absolute;*/
    width: auto;
    border: 0;
    left: 0;
    margin: 15px;
    order: 0;

  }
  .main {
    display: block;
    position: relative;
    width: auto;
    border: 0;
    left: 0;
    margin: 15px;
    order: 1;
  }
  section {
    display: block;
    position: relative;
    width: auto;
    border: 0;
    left: 0;
    margin: 15px;
    order: 1;
  }
  div {
    width: auto;
  }
  p {
    width: auto;
      background-color: black;
  }
  .lafoto {
    width: auto;
  }
  .navmid {
    width: auto;

  }
}


@media screen (min-width: 992px) and (max-width: 1200px){

  header {
    width: 50%;

  }
  main {
    width: auto;
  }
  section {
    width: auto;
  }
  div {
    width: auto;
  }
  p {
    width: auto;
  }
  .lafoto {
    width: auto;
  }
  .navmid {
    width: auto;

  }
}
@media screen (min-width: 1200px){

}
