html, body {
  margin: 0px;
  padding: 0px;

}

body {
  background-color: white;
  font-family: Courier,sans-serif;

}

/*-------declaration et positionnement du header*/


.topheader {
  display: flex;
flex-direction: column;
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  height:280px;
  background-color: #ffffff;
  border-bottom: 20px solid black;
  justify-content: center;
  z-index: 6;

}

#hbanner {
  display: block;
  position: absolute;
  top: 50px;
  left: 450px;
  margin: auto;
}

#hbanner2 {
  display: block;
  position: relative;
  top: 50px;
  left: 170px;
  margin: auto;
}

/*------- disparition de la checkbox*/
#menu {
  display: none;

}

/*-------declaration du lien ouverture menu retractable*/

#menu + label::before {
  content:"\f0c9 ";
  font-family: "FontAwesome";
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100px;
  color: darkgray;
  font-size: 6em;
  background-color: #ffffff;
  text-align: center;
  margin: 0 ;
  padding: 10px;

  transition:top 1s;

}
/*-------declaration du lien fermeture du menu retractable*/

#menu:checked + label::before {
  content:"\f00d";
  color: lightgray;
  font-size: 3em;
  background-color: transparent;
  top: 380px;

}
/*-------declaration et positionnement du lien de fermeture du menu quand la checkbox est checked*/
#menu:checked + label {
  top: 380px;
}

label {
  z-index:99;
  position:fixed;
  padding: 0.3em;
  top: 0;
  cursor: pointer;
  transition:top 1s;
}

/*-------declaration et positionnement du menu quand la checkbox est checked*/

#menu:checked ~ .navmain {
  top: 0;
}

/*-------declaration et positionnement du menu AVANT la checkbox est checked*/

.navmain {
  position: fixed;
  top: -600px;
  left: 0;
  width: 370px;
  height: 450px;
  margin: 0;
  z-index: 9;
  transition:top 0.5s;
  border-right: 20px solid black;

}

.navmain ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px;
  justify-content: space-around;
}

.navmain ul li {
  display: block;
  width: 100%;
  text-align: center;

}

.navmain ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  padding: 5px;
  font-size: 2em;

}

/*-------declaration des couleurs du background menu retractable*/


#navmain1dx {
  background-color: red;

}

#navmainabout {
  background-color: #0066ff;

}

#navmaincv {
  background-color: gray;
}

#navmainwrk {
    background-color: black;
}


/*-------declaration des couleurs de liens menu retractable*/

#navmainwrk a {
  color: darkgray;
}

/*-------declaration des couleurs de liens menu retractable lorsque l'on passe dessus*/

#navmain1dx a:hover, #navmainabout a:hover, #navmaincv a:hover {
  color: black;
  font-size: 2em;

}

#navmainwrk a:hover {
  color: white;
  font-size: 2em;
}

/*-------declaration et positionnement du milieu de le page */

.main {
  height: 100%;
  width: 100%;
  /*display: flex;
  position: relative;*/
  /*justify-content: center;*/
}

#mainsect {
  display: flex;
  position: relative;
  top: 280px;
  background-color: white;
  width: 100%;
  left: 0;
  margin: 0;

}

.divmain {
  display: block;
  position: relative;
  top: 0;
  font-size: 1.7em;
  color: gray;
  /*backgroun-color: white;*/
  width: 66%;
  height: 100%;
  left: 350px;
  padding-top: 20px;
  margin: 0;
  border-left: 20px solid black;
  text-align: justify;
}
#divmaincv {
  display: block;
  position: relative;
  top: 0;
  text-align: center;
  padding: 0;

}
/*---------menu du milieu page "j'ai fait"*/
.navmid {
  position: fixed;
  top: 280px;
  left: 0;
  width: 66%;
  height: 46%;
  border-left: 20px solid black;
  padding-left: 40px;
  z-index: 7;

}

#navmidwrk {
  left: 350px;
  width: 100%;
}

/*---------menu du milieu page "j'ai fait / mémé dozzit"*/

#navmidmd {
  top: 0;
  left: 350px;
  width: 100%;
  height: 37%;
  margin: auto;

}

/* -------pour suprimer l'espace entre les tabs du menu */

#navmidwrk ul, #navmidmd ul {
  font-size: 0;
  padding: 5%;
}

#navmidwrk  ul  li, #navmidmd  ul  li {
  display: inline-block;
  cursor: pointer;
  font-size: 40px;
  width: 35%;
  text-align: center;
  /*padding-bottom: 200px;*/
}



/* ---------style de menu */

#navmidwrk a, #navmidmd a {
  display: block;
  width: 100%;
  height: 40px;
  color: black;
  /*background-color: red;*/
  text-align: center;
  text-decoration: none;
  padding-bottom: 240px;
}

/*------- style du menu on hover */

#navmidwrk:hover {
  background-color: red;
  border-bottom: 20px solid black;
}

#navmidwrk a:hover {
  color: white;
}

#navmidmd a:hover {
  color: red;
}

#tabmond {
  display: block;
  position: relative;
  top: 0;
  text-align: center;
  padding: 0;
}


#pwrk{
  top: 460px;
}

#pmd{
  top: 280px;
  width: 69%;
  /*margin: 15px;*/
  padding: 20px;
  border: 0;
  text-align: center;
  background-color: black;
}

.lafoto {
  display: block;
  position: relative;
  width: 77%;
  margin: auto;

}
/*------centrer les titres*/

div h1, div h3 {
  text-align: center;
}

#jesuis {
  margin-left: 100px;
  text-align: justify;
}

p {
  margin: 15px;
  padding: 10px;
}

 p a, div a, h3 a {
  text-decoration: none;
}

/*declaration des spans*/

.redword, #graal {
  color: red;
}

.blank a, .blueword, #webwhy {
  color: #0066ff;
}

#pmspan a, .yelloword {
  text-decoration: none;
  color: yellow;
}

.blackbigword {
  color: black;
  font-size: 3em;
}

.blackword {
  color: black;
  font-size: 1.5em;
}

.bigwhiteword,.bigwhiteword a {
  color: white;
  font-size: 2em;
  text-decoration: none;
}

.bigwhiteword a:hover {
  color: darkgray;
}

/* -----------bas gauche*/

.bagosh {
  display: flex;
  position: fixed;
  top: 450px;
  left: 0;
  width: 370px;
  height: 100%;
  border-top: 20px solid black;
  border-right: 20px solid black;
  background-color: white;
  justify-content: space-around;
}

#lalogo {
  display: inline-block;
  position: relative;
  top: 140px;
  height: 49px;
  width: 111px;
}

#bgmd {
  background-color: red;
}

/*------------coté droit*/

.right {
  display: flex;
  position: fixed;
  top: 280px;
  right: 0px;
  width: 60px;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  /*background-color: white;*/
  border-left: 20px solid black;
  justify-content: space-around;
  z-index: 9;
}

#right1dx, #rightwrk, #rightmd {
  background-color: white;
}

#rightab {
  background-color: yellow;
}

#rightcv {
  background-color: gray;
}
/*
#rightmd {
  background-color: #0066ff;
}*/
