html,body{
  margin: 0px;
  padding: 0px;

}

body{
  background-color: white;
  font-family: courier,sans-serif;

}

.topheader {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:280px;
  justify-content: center;
  z-index: 8;
  background-color: #ffffff;
  border-bottom: 20px solid black;


}

#hbanner {
  display: block;
  position: relative;
  left: 390px;
  margin-top: 20px;

}

#hbanner2 {
  display: block;
  position: relative;
  top: 120px;
  left: -160px;

}


#menu {
  display: none;

}

#menu + label::before {
  /*content:"OPEN";*/
  content:"\f0c9 ";
  font-family: "FontAwesome";
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 55px;
  color: red;
  font-size: 7em;
background-color: #ffffff;
  text-align: center;
  margin: 0 ;
  padding: 10px;

  transition:top 1s;

}


#menu:checked + label::before {
  /*content:"CLOSE";*/
  content:"\f00d";
  color: black;
  font-size: 3em;
  background-color: transparent;
  top: 380px;

}


#menu:checked + label {
  top: 380px;

}



label {
  z-index:99;
  position:fixed;
  padding: 0.3em;
  top: 0;
  cursor: pointer;
  transition:top 1s;

}


#menu:checked ~ #navmain {
  top: 0;

}



#navmain {
  position: fixed;
  background-color: red;
  top: -600px;
  left: 0;
  width: 370px;
  height: 450px;
  transition:top 0.5s;
  text-align: center;
  /*border-bottom: 20px solid black;*/
  border-right: 20px solid black;
  margin: 0;
  z-index: 9;

}

#navmain ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 5px;
  justify-content: space-around;
}

#navmain ul li {
  display: block;
  width: 100%;
  text-align: center;

}

#navmain ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  padding: 5px;
  font-size: 2em;
  font-weight: bold;

}

#navmain a:hover {
  color: black;
  font-size: 2em;
  font-weight: bold;
  /*opacity: 0.5;*/

}

.main {
  display: flex;
  top: 300px;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#mainsect {
  display: block;
  position: relative;
  top: 300px;
  background-color: white;
  width: 100%;
  left: 0;
  margin: 0;
  text-align: center;

}


.divmain {
  display: block;
  position: relative;
  top: 0;
  font-size: 2em;
  color: rgba(055, 055, 055, 0.8);
  /*background-color: white;*/
  width: 60%;
  height: 100%;
  left: 370px;
  text-align: justify;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 20px;
  margin: 0;
  border-left: 20px solid black;
  border-right: 20px solid black;
}
p{
  margin: 0;
  padding: 10px;
}


#laspan {
  color: red;
}

#blank a{
  color: #0066ff;
  text-decoration: none;
}  

#pmspan a {
  text-decoration: none;
  color: yellow;
}

.tabmond {
  display: inline-block;
  position: relative;

  margin: 20px;
}

.logo {
  display: flex;
  position: fixed;
  top: 450px;
  left: 0;
  width: 370px;
  height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 20px solid black;
  border-right: 20px solid black;
  /*border-bottom: 10px solid black;*/
  background-color: white;
  justify-content: space-around;

}


#lalogo {
  display: block;
  position: relative;


}
